extends ./../parts/_layout.pug

block content
	div.newRoomContainer.p-3
		h4.text-muted.text-center Edit Room Detail
		div.row
			form(action="/room/add" method="post" enctype="multipart/form-data").col-9.col-sm-6.col-xl-4.mx-auto
				div.form-group
					label(for="location").font-weight-bold Location
					textarea.ml-3(name='location' class="form-control" id="location" rows="3" placeholder="e.g. Bijnor" required) #{room.location}
				div.form-group
					p.font-weight-bold Features
					div.ml-4
						div.form-check
							p #{room.features.indexOf('toilet')}
							input#toilet.form-check-input(type='checkbox' name='features' value='toilet' checked=room.features.indexOf('toilet')!==-1?true:false)
							label(for='toilet').form-check-label Toilet
						div.form-check
							input#bathroom.form-check-input(type='checkbox' name='features' value='bathroom' checked=room.features.indexOf('bathroom')!==-1?true:false)
							label(for='bathroom').form-check-label Bathroom
						div.form-check
							input#kitchen.form-check-input(type='checkbox' name='features' value='kitchen' checked=room.features.indexOf('kitchen')!==-1?true:false)
							label(for='kitchen').form-check-label Kitchen
						div.form-check
							input#electricity.form-check-input(type='checkbox' name='features' value='electricity' checked=room.features.indexOf('electricity')!==-1?true:false)
							label(for='electricity').form-check-label Electricity
				div.form-group
					label(for="photo").font-weight-bold Add Photos
					input.ml-3(type="file" id='photo' name="photos" accept="image/*" class='form-control-file' multiple onchange="showImage(this);")
					div.roomImageContainer
				div.form-group.row
					label(for="persons").col-form-label.col-8.font-weight-bold No. of Persons can live
					div.col-4
						input#persons(type="number" name="persons" required).form-control
				div.form-group.row
					label(for="price").col-form-label.col-8.font-weight-bold Price(₹) per month
					div.col-4
						input#price.form-control(type="number", name="price" required)
				div.row.justify-content-around.mt-4
					input.btn.btn-primary(type='submit' value='Submit')
	